body{
    background-color: black;
    color: aliceblue;
}
h1{
    margin: 4rem 1rem 0.5rem 0.5rem;
    font-size: 3rem;
}
h3{
    padding: .5rem;
    background-color: darkslategray;
}
h4, h6 {
    text-align: center;
}
h4 {
    padding-top: 0.5rem;
}
h6 {
    padding-bottom: 0.5rem;
}
.card {
    color: black;
    width: 100%;
}

#search-form{
    margin: 2rem auto;
}

.pagination{
    margin-top: 1rem;
    
}
.page-link {
    color: black;
}

.btn {
    background-color: darkslategray;
}

.overlay{
    background-color: darkslategray;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    padding: 1rem;
    overflow: scroll;
    text-align: center;
}
.overlay:hover{
    opacity: 1;
    transition: opacity 0.5s ease-in;
}